.header {
  background: #444;
  color: white !important;
}

.row {
  .actions {
    opacity: 0;
  }
  &:nth-of-type(odd) {
    background: #fafafa,
  }
  &:hover {
    .actions {
      opacity: 1;
    }
  }
}

.status {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}