.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fields {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
}

.checkBoxes {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  label:last-child {
    margin-right: 0;
  }
}

.input {
  width: 100%;
}

.check {
  min-height: 70px;
}

.field {
  display: flex;
  width: 100%;
  min-height: 70px;
  i {
    margin-top: 20px;
    margin-right: 10px;
  }
}